.photo-card {
border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    width: 360px;
    height: 48px;
    background: #fff;
}

.photo-card:hover {
    transform: scale(1.03);
}

.photo-card img {
    width: 100%;
    height: auto;
    display: block;
}

.info {
    padding: 10px;
    background: #fff;
    text-align: left;
}

.info-item {
    margin: 4px 0;
}

.search-result {
    border-radius: 8px;
    border-color: #fff;
    width: 91px;
    height: 40px;
    background: #4e75ff;
}

.text-search {
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
        margin-top: 6px;
}

.input-search {
    border: 1px solid #808080;
        border-radius: 4px;
        width: 272px;
        height: 40px;
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #808080;
}

.form-search {
    display: flex;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.loader-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.is-hidden {
    display: none;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}